<!DOCTYPE html>
<html>
  <head>
    <title>LilPinterest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="site-title">LilPinterest</h1>
      <ul>
        <% if !logged_in? %>
        <li><%= link_to "login", sessions_new_path %></li>
        <li><%= link_to "register, users_new_path" %></li>
        <% else %>
        <li><%= link_to "logout", sessions_path, method: 'delete' %></li>
        <% end %>
        <li><%= link_to "home", root_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
